* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main {
  height: 1024px;
  background-image: url(img/game_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__content {
  padding-top: 217px;
  padding-bottom: 493px;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 788.78px;
}
.main__text {
  width: 500px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 44px;
}
.main__button {
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  box-sizing: border-box;
  border-color: #9C0332;
}
.main__button:hover {
  background: #EB443F;
  border-color: #EB443F;
  transition: all 0.5s;
}

.choices {
  height: 556px;
  background-image: url(img/choices_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.choices__content {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(3, 378px);
}
.choices__item {
  height: 300px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-bottom: 32px;
}
.choices__item:hover {
  border: 3px solid #44D2FF;
  transform: scale(1.01);
  transition: all 0.5s;
}
.choices__item_1 {
  background-image: url(img/choice1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.choices__item_2 {
  background-image: url(img/choice2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.choices__item_3 {
  background-image: url(img/choice3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first__game {
  height: 800px;
  background-image: url(img/background_firstgame.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 135px;
  align-items: center;
}
.first__game_content {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.game__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.game__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  width: 584px;
}

.game__button {
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  box-sizing: border-box;
  border-color: #9C0332;
}
.game__button:hover {
  background: #EB443F;
  border-color: #EB443F;
  transition: all 0.5s;
}

.game__img {
  width: 485px;
  height: 333px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    height: 735px;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__title {
    font-size: 32px;
    line-height: 39px;
    width: 343px;
    text-align: center;
  }
  .main__text {
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    text-align: center;
  }
  .main__button {
    margin-left: 54px;
    margin-right: 54px;
  }
  .choices {
    height: 1221px;
  }
  .choices__content {
    display: flex;
    flex-direction: column;
  }
  .first__game {
    height: 653.61px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    justify-content: center;
  }
  .first__game_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
  }
  .game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .game__text {
    font-size: 14px;
    line-height: 22px;
    width: 343px;
  }
  .game__img img {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */